body {
  background-color: red;
  /* position: relative; */
}

.App {
  text-align: center;
  width: 400px;
  height: 300px;
  background-color: #9ad4d6;
  color: #101935;
  border-radius: 10px;

  /* display: flex; */

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.numbers {
  display: flex;
  text-align: center;
}

.numbers div {
  padding: 10px;
  background-color: #9ad4d6;
  margin-right: 10px;
}
